.container-a {
  position: relative;
  width: 800px;
  height: 98vh;
  overflow: hidden;
}

.scroll-content {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  box-sizing: content-box;
  flex-direction: row;
}

.custom-scrollbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: white;
  z-index: 1000;
}

.scrollbar-thumb {
  height: 100%;
  width: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 1002;
}

.scrollbar-thumb:hover {
  background-color: #f1f1f1;
}

.scrollbar-thumb:hover .scrollbar-text {
  color: #f1f1f1;
}

.scrollbar-text {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: black;
  white-space: nowrap;
  user-select: none;
  z-index: 1001;
  font-size: 13px;
}

.image-container-assemblagesComp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: auto;
  flex: 1 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.text-container-assemblagesComp {
  flex: 0 0 auto;
  width: 800px;
  padding: 35px;
  box-sizing: border-box;
  white-space: normal;
  z-index: 1;
}

.collage {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.collage-description {
  color: #d2d2d2;
  text-align: center;
  position: absolute;
  top: 91.5%;
  z-index: 2;
}

.collage-description-2 {
  color: #d2d2d2;
  text-align: center;
  position: absolute;
  top: 3%;
  left: 55%;
  z-index: 2;
}

.main-text {
  color: black;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
