/* general container and scroll*/
.container {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 97vh;
}

.scroll-content {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 750px;
  height: 100%;
  width: 100%;
  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-scrollbar {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: transparent;
  z-index: 1010;
  
}

.scrollbar-thumb {
  height: 100%;
  max-width: 80px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 1002;
}

.scrollbar-text {
  font-family: 'Inconsolata', monospace;
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-weight: bold; */
  color: black;
  white-space: nowrap;
  user-select: none;
  z-index: 1001;
  font-size: 13px;
}

/* specifications */
img {
  padding-left: 3px;
  padding-right: 3px;
}

.col-background-home img {
  padding-left: 1px;
  padding-right: 1px;
}

.col-10 {
  padding: 0;
}

.columns-five {
  column-count: 1;
}

/* general texts */
.main-text {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 16px;
}

.image-description {
  margin-top: 5px; 
  text-align: center;
  color: #ACACAC;
  font-size: 12px;
  font-family: "times new roman", Times, serif;
}

.font14px {
  font-size: 14px;
}

/* assemblages */
.image-assemblages{
  margin: 0;
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-assemblages img {
  width: 100%;
  height: auto;
  min-width: 350px;
}

/* assemblages comp 1 */
.custom-scrollbar.a1 {
  left: 60px;
}

.scrollbar-thumb.a1 {
  max-width: 205px;
}

.image-container-assemblagesComp {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: nowrap;
}

.image-assemblagesComp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

.image-assemblagesComp img {
  width: 100%;
  height: auto;
}

.text-container-assemblagesComp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 95%;
  padding: 0px;
  box-sizing: border-box;
  white-space: normal;
}


@media (max-width: 480px) {
  /* general container and scroll */
  .container {
    /* height: 83vh; */
    height: 75vh;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
  }

  .scroll-content {
    min-width: auto;
  }

  .custom-scrollbar {
    bottom: -10px;
  }

  /* specifications */
  .columns-five {
    column-count: 5;
    column-gap: 40px;
    column-width: 1px;
  }

  /* assemblages */
  .image-assemblages {
    height: 80vh;
    width: 100%;
  }

  /* assemblages comp 1 (a1) */
  .custom-scrollbar.a1 {
    left: 10px;
  }

  .scrollbar-thumb.a1 {
    max-width: 30px;
  }

  .text-container-assemblagesComp {
    width: 550%;
    padding: 0 30px 0 30px;
  }

  .image-container-assemblagesComp {
    width: 100%;
  }

  .image-assemblagesComp img {
    width: 100%;
    height: auto;
    max-height: 480px;
  }

  .image-assemblagesComp.last-a1 {
    width: 150%;
  }
}
