/* a2 */
.custom-scrollbar.a2 {
  left: -20px;
}

.scrollbar-thumb.a2 {
  max-width: 390px;
}

.image-container-assemblagesComp2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: nowrap;
}

.image-assemblagesComp2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

.image-assemblagesComp2 img {
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  /* a2 */
  .custom-scrollbar.a2 {
    left: -30px;
  }

  .scrollbar-thumb.a2 {
    max-width: 145px;
  }

  .image-assemblagesComp2 img {
    max-height: 480px;
  }
}
