/* container and vertical scroll */
.container-vertical {
  position: relative;
  max-height: 98vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.container-vertical::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.container-last-chance {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
}

.scroll-content-vertical {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  margin-top: 4px;
}

.custom-scrollbar-vertical {
  position: fixed;
  right: 0; /* Will be adjusted by JS */
  top: 0;
  width: 20px;
  height: 100%;
  z-index: 1000;
}

.scrollbar-thumb-vertical {
  width: 100%;
  height: 1px; 
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  position: absolute;
  z-index: 1002;
  top: 0; 
}

.scrollbar-thumb-vertical:hover {
  background-color: #f1f1f1;
}

.scrollbar-thumb-vertical:hover .scrollbar-text-vertical {
  color: #f1f1f1;
}

.scrollbar-text-vertical {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: black;
  user-select: none;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 13px;
}

/* text */
.main-text-chance {
  color: black;
  text-align: justify;
  text-align-last: center;
  padding-left: 10px;
  padding-right: 10px;
}

.title-text-chance {
  color: #ACACAC;
  text-align: center;
}

.chanceAndSequenceComp-text {
  grid-column: 1 / -1;
  padding: 20px;
  color: #ACACAC;
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 70px;
}

/* images */
.image-item-vertical {
  padding: 5px 2px;
  width: 100%;
}

.img-fluid-vertical {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images-last-chance {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
  justify-content: center;
  padding: 100px;
}

.img-fluid-horizontal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #f9f9f9;
}

@media (max-width: 450px) {
  /* Container and vertical scroll */
  .container-vertical {
    max-height: 90vh;
  }

  .scroll-content-vertical {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin-right: 7px;
  }

  /* Text */
  .chanceAndSequenceComp-text {
    padding: 0px;
    padding-top: 40px;
  }

  /* Images */
  .image-item-vertical {
    padding: 0px;
    margin-bottom: 7px; 
  }

  .img-fluid-vertical {
    width: 100%;
    height: 100%;
  }

  .images-last-chance {
    grid-template-columns: repeat(1, auto);
    gap: 0px;
    padding: 30px;
  }
  
  .img-fluid-horizontal {
    width: 95%;
    height: 95%;
  }
}

