.container-vertical {
  position: relative;
  max-height: 98vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.container-vertical::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.scroll-content-vertical {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.image-item-vertical {
  padding: 4px;
}

.img-fluid-vertical {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.custom-scrollbar-vertical {
  position: fixed;
  right: 0; /* Will be adjusted by JS */
  top: 0;
  width: 20px;
  height: 100%;
  z-index: 1000;
}

/* @media (max-width: 1500px) {
  .custom-scrollbar-vertical {
    right: 240px;
  }
}
@media (max-width: 1440px) {
  .custom-scrollbar-vertical {
    right: 235px;
  }
}
@media (max-width: 1400px) {
  .custom-scrollbar-vertical {
    right: 228px;
  }
} */

.scrollbar-thumb-vertical {
  width: 100%;
  height: 10px; 
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  position: absolute;
  z-index: 1002;
  top: 0; 
}

.scrollbar-thumb-vertical:hover {
  background-color: #f1f1f1;
}

.scrollbar-thumb-vertical:hover .scrollbar-text-vertical {
  color: #f1f1f1;
}

.scrollbar-text-vertical {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: black;
  user-select: none;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 13px;
}

.main-text-chance {
  color: black;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.title-text-chance {
  color: #ACACAC;
  text-align: center;
}

.chanceAndSequenceComp-text {
  grid-column: 1 / -1;
  padding: 20px;
  color: #ACACAC;
  text-align: center;
  max-width: 100%;
  padding-top: 70px;
}

.container-last-chance {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
}

.images-last-chance {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
  justify-content: center;
  padding: 100px;
}

.img-fluid-horizontal {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

@media (max-width: 450px) {
  .scroll-content-vertical {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin-right: 20px;
  }

  /* .custom-scrollbar-vertical {
    right: 0px;
    top: 50px;
  } */

  .image-item-vertical {
    padding: 0px;
    margin-bottom: 7px;
  }

  .img-fluid-vertical {
    width: 100%;
    height: 100%;
  }

  .chanceAndSequenceComp-text {
    padding: 12px;
    padding-top: 50px;
  }

  .images-last-chance {
    grid-template-columns: repeat(1, auto);
    gap: 0px;
    padding: 30px;
  }
  
  .img-fluid-horizontal {
    width: 100%;
    height: 100%;
  }
}

