.image-deriveComp3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  padding-left: 50px;
  padding-right: 80px;
}

.gap-derive3 {
  gap: 130px;
}

.gap-derive4 {
  gap: 30px;
}

.image-deriveComp4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  padding-left: 160px;
  padding-right: 180px;
}