.text-container-deriveComp2 {
  flex: 0 0 auto;
  max-width: 750px; 
  overflow: hidden;
  padding: 35px;
  margin-right: 100px;
  margin-left: 5px;
}

.image-container-deriveComp2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  margin-right: 40px;
  height: auto;
  width: 750px;
  padding-top: 80px;
}

.image-deriveComp1 {
  flex: 0 0 auto;
  padding-right: 80px;
  padding-left: 50px;
  padding-top: 10px;
}