.image-deriveComp5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  padding-left: 70px;
  padding-right: 20px;
}

.text-container-deriveComp6 {
  flex: 0 0 auto;
  max-width: 650px;
  overflow: hidden;
  padding: 35px;
  margin-right: 100px;
  margin-left: 50px;
}

.image-deriveComp6{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-bottom: 60px;
  padding-right: 95px;
}

.image-deriveComp6 img {
  width: 700px;
  height: auto;
}


