/* d5 */
.custom-scrollbar.d5 {
  left: 0;
}

.scrollbar-thumb.d5 {
  max-width: 170px;
}

.text-container-deriveComp5 {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.image-deriveComp5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

.image-deriveComp5 img {
  width: 100%;
  height: auto;
}

/* d6 */
.custom-scrollbar.d6 {
  left: 0;
}

.scrollbar-thumb.d6 {
  max-width: 170px;
}

.text-container-deriveComp6 {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  overflow: hidden;
  padding: 75px;
  align-items: center;
  justify-content: center;
}

.image-deriveComp6{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

.image-deriveComp6 img {
  width: 100%;
  height: auto;
}

/* d7 */
.custom-scrollbar.d7 {
  left: 0;
}

.scrollbar-thumb.d7 {
  max-width: 130px;
}

.text-container-deriveComp7-1 {
  display: flex;
  flex: 0 0 auto;
  padding: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.text-container-deriveComp7-2 {
  display: flex;
  flex: 0 0 auto;
  padding: 35px;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.text-container-deriveComp7-3 {
  display: flex;
  flex: 0 0 auto;
  padding: 25px;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.image-deriveComp7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

.image-deriveComp7 img {
  width: 100%;
  height: auto;
} 

.gap-derive7 {
  gap: 0px;
}

/* other */
.columns-one {
  column-count: 1;
}

@media (max-width: 450px) {
  /* d5 */
  .custom-scrollbar.d5 {
    left: -25px;
  }

  .scrollbar-thumb.d5 {
    max-width: 70px;
  }

  .text-container-deriveComp5 {
    width: 205%;
    padding: 0 10px;
  }

  .image-deriveComp5 img {
    max-height: 480px;
  }

  /* d6 */
  .custom-scrollbar.d6 {
    left: -30px;
  }

  .scrollbar-thumb.d6 {
    max-width: 85px;
  }

  .text-container-deriveComp6 {
    padding: 10px;
  }

  .image-deriveComp6 img {
    max-height: 480px;
  }

  /* d7 */
  .custom-scrollbar.d7 {
    left: -25px;
  }

  .scrollbar-thumb.d7 {
    max-width: 40px;
  }

  .text-container-deriveComp7-1 {
    padding: 0px;
    width: 210%;
  }

  .text-container-deriveComp7-2 {
    padding: 0px;
    width: 90%;
  }

  .text-container-deriveComp7-3 {
    padding: 0px;
    width: 200%;
  }

  .gap-derive7 {
    gap: 40px;
  }

  .image-deriveComp7 img {
    max-height: 480px;
  }
}
