/* f4 */
.custom-scrollbar.f4 {
  left: 0;
}

.scrollbar-thumb.f4 {
  max-width: 250px;
}

.image-futuresComp4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

.image-futuresComp4 img {
  width: 100%;
  height: auto;
}

/* f5 */
.image-futures5 {
  margin: 0;
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* f6 */
.image-futures6 {
  margin: 0;
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 450px) {
  /* f4 */
  .custom-scrollbar.f4 {
    left: -25px;
  }

  .scrollbar-thumb.f4 {
    max-width: 100px;
  }

  /* f5 */
  .image-futures5 {
    height: 80vh;
    width: 100%;
  }

  /* f6 */
  .image-futures6 {
    height: 80vh;
    width: 100%;
  }
}