.scroll-content-futures1 {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  height: 100%;
  scrollbar-width: none;
  gap: 50px;
}

.scroll-content::-webkit-scrollbar {
  display: none;
}

.text-container-futures, .image-container-futuresComp1  {
  flex: 0 0 800px;
  width: 800px;
  box-sizing: border-box;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container-futuresComp1 {
  margin-right: 10px;
}

.clock-image {
  width: 350px;
  padding-bottom: 50px;
}
