/* g1 */
.custom-scrollbar.g1 {
  left: 0;
}

.scrollbar-thumb.g1 {
  max-width: 380px;
}

.image-container-geoAndDecComp1 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

.image-geoAndDecComp1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.image-geoAndDecComp1 img {
  width: 100%;
  height: auto;
}

@media (max-width: 450px) {
  /* g1 */
  .custom-scrollbar.g1 {
    left: -35px;
  }

  .scrollbar-thumb.g1 {
    max-width: 170px;
  }

  .image-container-geoAndDecComp1.g1 {
    gap: 80px;
  }
}

