/* g3 */
.custom-scrollbar.g3 {
  left: 30px;
}

.scrollbar-thumb.g3 {
  max-width: 78px;
}

.scroll-content-geo-dec-3 {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 750px;
  height: 100%;
  width: 100%;
  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-content-geo-dec-3::-webkit-scrollbar {
  display: none;
}

.image-container-geoDecComp3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.image-geoDecComp3 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image-geoDecComp3 img {
  width: 100%;
  height: auto;
}

.text-container-geoDecComp3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
  overflow: hidden;
  padding: 25px;
}

.image-description-more {
  text-align: center;
  margin-top: -16px;  
  font-size: 14px;
}

/* g4 */
.custom-scrollbar.g4 {
  left: 0;
}

.scrollbar-thumb.g4 {
  max-width: 250px;
}

.image-geoDecComp4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  flex-direction: column;
  width: 100%;
}

.image-geoDecComp4 img {
  width: 100%;
  height: auto;
}

@media (max-width: 450px) {
  /* g3 */
  .scroll-content-geo-dec-3 {
    min-width: auto;
  }

  .custom-scrollbar.g3 {
    left: 10px;
  }

  .scrollbar-thumb.g3 {
    max-width: 25px;
  }

  .image-container-geoDecComp3 {
    gap: 3px;
  }

  .image-geoDecComp3 img {
    width: 92%;
    height: auto;
  }

  .text-container-geoDecComp3 {
    padding: 0;
    width: 420%;
  }

  /* g4 */
  .custom-scrollbar.g4 {
    left: -35px;
  }

  .scrollbar-thumb.g4 {
    max-width: 125px;
  }

  .middle-g4 img {
    width: 95%;
    height: auto;
  }

  .image-geoDecComp4 img {
    max-height: 480px;
  }
}
