.custom-scrollbar.g1 {
  bottom: 0;
  left: 0;
}

.image-container-geoAndDecComp1 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-wrap: nowrap;
}

.image-geoAndDecComp1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-left: 180px;
  padding-right: 180px;
}

.image-geoAndDecComp1 img {
  width: auto;
  height: auto;
}

@media (max-width: 450px) {
  .custom-scrollbar.g1 {
    bottom: 0;
    left: -50px;
  }

  .image-geoAndDecComp1 {
    padding-left: 30px;
    padding-right: 70px;
  }

  .image-geoAndDecComp1 img {
    width: 90%;
    height: 90%;
  }
}

