.container {
  position: relative;
  width: 800px;
  height: 98vh;
  overflow: hidden;
}

.text-container-geoAndDecComp2 {
  flex: 0 0 auto;
  padding: 35px;
  box-sizing: border-box;
  width: 800px;
  white-space: normal;
  overflow: hidden;
}


.image-container-geoAndDecComp2-nd {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 120px;
}

.two-images-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-left: 150px;
}

.two-images-container img {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  width: auto;
  margin: 20px;
  padding-right: 50px;
}

.image-description-nd {
  text-align: center;
  color: #d2d2d2;
  margin-top: -13px;
  font-size: 15px;
}

.scroll-content-geo-dec {
  display: flex;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.image-container-geoAndDecComp2 {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 150px;
}

.collage-desc-geo-1 {
  position: absolute;
  top: 52%;
  left: 4%;
  color: #d2d2d2;
  z-index: 2;
}

.collage-desc-geo-2 {
  position: absolute;
  text-align: center;
  top: 3%;
  left: 37%;
  color: #d2d2d2;
  z-index: 2;
}

.collage-desc-geo-3 {
  position: absolute;
  top: 47%;
  left: 63%;
  color: #d2d2d2;
  z-index: 2;
}
