/* Mobile: 320px–767px  */
/* Tablet: 768px–1024px */
/* Desktop: 1025px and above */


.col-background-home {
  position: relative;
  height: 100vh;
}

.background-image-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.8s ease;
  width: auto; 
  height: auto; 
  max-width: 100%; 
  max-height: 100%; 
}

.background-image-home.visible {
  opacity: 1;
}

@media (max-width: 1400px) {
  .col-background-home {
    height: 80vh;
  }
  .background-image-home {
    top: 30%;
  }
}

@media (max-width: 1050px) {
  .col-background-home {
    height: 70vh;
  }
}

@media (max-width: 960px) {
  .col-background-home {
    height: 60vh;
  }
}

@media (max-width: 630px) {
  .col-background-home {
    height: 100vh;
  }
  .background-image-home {
    top: 50%;
  }
}

@media (max-width: 440px) {
  .col-background-home {
    height: 70vh;
  }
}

@media (max-width: 400px) {
  .col-background-home {
    height: 60vh;
  }
}

