.ig-logo {
  font-family: 'Times New Roman', Times, serif;
}

.ig:link,
.ig:visited {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  color: blue;
}

.ig:hover {
  color: red;
}

@media (max-width: 420px) {
  .ig:link,
  .ig:visited {
    justify-content: flex-start;
  }
}