.nav-bar ul {
  list-style: none;
  margin-left: -20px;
  margin-top: -10px;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.home {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Inconsolata', monospace;
}

.ul-home {
  list-style: none;
  margin-left: -20px;
  margin-top: 10px;
}

.page{
  font-family: 'Inconsolata', monospace;
  display: block;
  margin-bottom: 8px;
  line-height: 1.2;
  font-size: 14px;
}

.home:hover {
  text-decoration: underline;
  color: red;
}

.page:link,
.page:visited {
  color: blue;
}

.page:hover {
  color: red;
}

.nav-menu-button {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 15px;
  padding-bottom: 10px;
  margin-top: -12px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  background-color: red;
}

.main {
  margin-top: 0px;
}

@media (max-width: 450px) {
  .nav-bar ul {
    margin-left: -25px;
    display: none;
  }

  .ul-home {
    margin-left: -25px;
  }

  .nav-bar ul.active {
    display: block;
  }

  .nav-menu-button {
    display: block;
    font-weight: bold;
  }

  .main {
    margin-top: 0px;
  }
}

