ul {
  list-style: none;
  margin-left: -30px;
}

.home {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Times New Roman', Times, serif;
}

.page{
  font-family: 'Times New Roman', Times, serif;
}

.home:hover {
  text-decoration: underline;
  color: red;
}

.page:link,
.page:visited {
  color: blue;
}

.page:hover {
  color: red;
}