.viewer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 700px;
}

.composition-container-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 700px;
}

.viewer img {
  max-width: 100%;
  max-height: 670px;
  object-fit: contain;
}

.viewer-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0 20px;
}

.viewer-button img {
  max-width: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
}

.viewer-button:hover img {
  transform: scale(1.1);
}

.viewer-button:active img {
  transform: scale(0.9);
}

.image-container-viewer {
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.composition-container-viewer {
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
