.black {
  color: black;
}

.mind-map{
  display: grid;
  place-items: center;
  place-content: center;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

.gap{
  gap: 100px;
}

.gap0 {
  gap: 0px;
}

/* womandhood comp 2 */
.custom-scrollbar.w2 {
  bottom: 0;
  left: 0;
}

.text-container-womanhoodComp2-1 {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 60px 0 60px;
  box-sizing: border-box;
  white-space: normal;
  align-items: center;
  justify-content: center;
}

.text-container-womanhoodComp2-2 {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 60px 0 60px;
  box-sizing: border-box;
  white-space: normal;
  align-items: center;
  justify-content: center;
}

.text-container-womanhoodComp2-3 {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 80px 0 60px;
  box-sizing: border-box;
  white-space: normal;
  align-items: center;
  justify-content: center;
}

/* womanhood comp 3 */
.custom-scrollbar.w3 {
  bottom: 0;
  left: 0;
}

.image-womanhoodComp3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-left: 140px;
  padding-right: 140px;
}

.image-womanhoodComp3 img {
  width: auto;
  height: auto;
}

.firstw3 {
  margin: 0;
}

.lastw3 {
  padding-right: 200px;
}

/* universal Womanhood text */
.text-container-womanhoodComp-universal {
  display: flex;
  flex: 0 0 auto;
  box-sizing: border-box;
  white-space: normal;
  align-items: center;
  justify-content: center;
}

/* womanhood comp 4 */
.text-w4-1 {
  width: 100%;
  padding: 0 70px 0 70px;
  margin: 0 100px 0 0;
}

.text-w4-2 {
  width: 100%;
  padding: 0 30px 0 30px;
  margin: 0 80px 0 0;
}

.text-w4-3 {
  width: 100%;
  padding: 0 90px 0 90px;
  margin: 0 100px 0 0;
}

.image-womanhoodComp4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 10px 0 10px;
}

.image-womanhoodComp4 img {
  width: auto;
  height: auto;
}

/* more... */
.womanhood-6 {
  height: auto;
  width: 1100px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.womanhood-6-2 {
  height: auto;
  width: 900px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.womanhood-6-3 {
  height: auto;
  width: 950px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-right: 20px;
}

.right-padding-0 {
  padding-right: 0px;
  box-sizing: border-box;
}

.womanhood-7-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 720px;
  padding-left: 60px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.padding-womanhood {
  padding-top: 30px;
}

/* womanhood comp 8 */
.image-womanhoodComp8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-left: 130px;
  padding-right: 160px;
}

/* womanhood comp 9 */
.image-womanhoodComp9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-left: 120px;
  padding-right: 30px;
}

.image-womanhoodComp9.smallerw9 {
  width: 127%;
  padding-right: 70px;
  padding-left: 160px;
}

/* womanhood comp 10 */
.image-womanhoodComp10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-left: 130px;
  padding-right: 160px;
}

/* womanhood comp 11 */
.image-womanhoodComp11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-left: 120px;
  padding-right: 160px;
}

/* womanhood comp 12 */
.image-womanhoodComp12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-left: 100px;
  padding-right: 220px;
}

.text-container-womanhoodComp12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  white-space: normal;
}

/* womanhood comp 13 */
.image-womanhoodComp13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 0 170px 0 170px;
}

.image-womanhoodComp13.less-pad-w13 {
  padding: 0 120px 0 120px;
}

.text-container-womanhoodComp13 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 60px 0 60px;
  margin: 0 80px 0 0;
  box-sizing: border-box;
  white-space: normal;
}

/* womanhood comp 14 */
.text-container-womanhoodComp14 {
  display: flex;
  flex: 0 0 auto;
  width: 37%;
  padding: 40px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: normal;
}

.text-container-womanhoodComp14.last-pad-w14 {
  padding: 50px;
  width: 39%
}

.image-womanhoodComp14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-left: 140px;
  padding-right: 140px;
}

.first-margin-w14 {
  margin-left: 70px;
}

.last-w14 {
  height: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* womanhood comp 15 */
.text-container-womanhoodComp15 {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  padding: 0 70px 0 70px;
  box-sizing: border-box;
  white-space: normal;
}

.image-womanhoodComp15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-left: 140px;
  padding-right: 140px;
}

.smaller-w15 {
  height: auto;
  width: 110%;
  padding-left: 45px;
  padding-right: 45px;
}

/* womanhood comp 16 */
.womanhood-16 {
  padding-top: 110px;
}

@media (max-width: 450px) {
  .mind-map {
    margin: 140px 0 140px 0;
  }

  /* womandhood comp 2 */
  .custom-scrollbar.w2 {
    bottom: 0;
    left: -20px;
  }

  .text-container-womanhoodComp2-1 {
  width: 195%;
  padding: 0 0 0 10px;
  margin-right: 20px;
  }

  .text-container-womanhoodComp2-2 {
  width: 295%;
  padding: 5px;
  margin-right: 20px;
  }

  .text-container-womanhoodComp2-3 {
  width: 210%;
  padding: 0 65px 0 0;
  }

  /*womanhood comp 3 */
  .custom-scrollbar.w3 {
    bottom: 0;
    left: -26px;
  }

  .image-womanhoodComp3 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .image-womanhoodComp3 img {
    width: 93%;
    height: 93%;
  }

  .firstw3 {
    margin-left: -15px;
  }

  .lastw3 {
    padding-right: 200px;
  }
}
