/* other... */
.black {
  color: black;
}

.gap {
  gap: 100px;
}

/* universal Womanhood text */
.text-container-womanhoodComp-universal {
  display: flex;
  flex: 0 0 auto;
  box-sizing: border-box;
  white-space: normal;
  align-items: center;
  justify-content: center;
}

/* womanhood 1 */
.mind-map{
  display: grid;
  place-items: center;
  place-content: center;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

/* womandhood comp 2 */
.custom-scrollbar.w2 {
  left: 30px;
}

.scrollbar-thumb.w2 {
  max-width: 190px;
}

.text-container-womanhoodComp2 {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  padding: 0 60px 0 60px;
  box-sizing: border-box;
  white-space: normal;
  align-items: center;
  justify-content: center;
}

/* womanhood comp 3 */
.custom-scrollbar.w3 {
  left: 30px;
}

.scrollbar-thumb.w3 {
  max-width: 50px;
}

.image-womanhoodComp3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

.image-womanhoodComp3 img {
  width: 100%;
  height: auto;
}

.gapw3 {
  gap: 0px;
}

/* womanhood comp 4 */
.custom-scrollbar.w4 {
  left: 15px;
}

.scrollbar-thumb.w4 {
  max-width: 140px;
}

.text-w4-1 {
  width: 100%;
  padding: 0 70px 0 70px;
  
}

.text-w4-2 {
  width: 100%;
  padding: 0 30px 0 30px;
}

.text-w4-3 {
  width: 100%;
  padding: 0 90px 0 90px;
}

.image-womanhoodComp4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

.image-womanhoodComp4 img {
  width: 100%;
  height: auto;
}

/* womanhood 6 */
.custom-scrollbar.w6 {
  left: 0;
}

.scrollbar-thumb.w6 {
  max-width: 170px;
}

.womanhood-6 {
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.womanhood-6.twow6 {
  margin-right: 150px;
}

.womanhood-6.threew6 {
  margin-right: 250px;
}

/* womanhood 7 */
.container-vertical-futures2.w7 {
  width: 100%;
  height: 100vh;
}

.womanhood-7-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 10px;
  flex-wrap: wrap;
}

.custom-scrollbar-vertical.w7 {
  display: none;
}

/* womanhood comp 8 */
.custom-scrollbar.w8 {
  left: 0;
}

.scrollbar-thumb.w8 {
  max-width: 250px;
}

.image-container-geoAndDecComp1.w8 {
  gap: 0px;
}

.image-womanhoodComp8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

/* womanhood comp 9 */
.custom-scrollbar.w9 {
  left: 0;
}

.scrollbar-thumb.w9 {
  max-width: 250px;
}

.image-womanhoodComp9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
 
}

.image-womanhoodComp9.smallerw9 {
  margin-right: 130px;
}

/* womanhood comp 10 */
.custom-scrollbar.w10 {
  left: 0;
}

.scrollbar-thumb.w10 {
  max-width: 195px;
}

.image-womanhoodComp10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

/* womanhood comp 11 */
.custom-scrollbar.w11 {
  left: 0;
}

.scrollbar-thumb.w11 {
  max-width: 190px;
}

.image-container-geoAndDecComp1.w11 {
  gap: 0px;
}

.image-womanhoodComp11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

/* womanhood comp 12 */
.custom-scrollbar.w12 {
  left: 0;
}

.scrollbar-thumb.w12 {
  max-width: 400px;
}

.image-womanhoodComp12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
  margin: 0;
}

.text-container-womanhoodComp12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
  white-space: normal;
  padding: 15px;
}

/* womanhood comp 13 */
.custom-scrollbar.w13 {
  left: 45px;
}

.scrollbar-thumb.w13 {
  max-width: 80px;
}

.image-womanhoodComp13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

.image-womanhoodComp13 img {
  width: 100%;
  height: auto;
}

.image-womanhoodComp13.wanker img {
  width: 40%;
  height: 40%;
}

.image-womanhoodComp13.lastw13 img {
  width: 70%;
  height: 70%;
}

.text-container-womanhoodComp13 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
  white-space: normal;
  padding: 35px;
}

.text-container-womanhoodComp13.secondw13 {
  padding: 50px;
  margin-left: 50px;
}

/* womanhood comp 14 */
.custom-scrollbar.w14 {
  left: 20px;
}

.scrollbar-thumb.w14 {
  max-width: 80px;
}

.text-container-womanhoodComp14 {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.image-womanhoodComp14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

.image-womanhoodComp14.last-w14 {
  margin: 0 100px 0 40px;
}

/* womanhood comp 15 */
.custom-scrollbar.w15 {
  left: 0;
}

.scrollbar-thumb.w15 {
  max-width: 200px;
}

.text-container-womanhoodComp15 {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: normal;
  width: 100%;
}

.image-womanhoodComp15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 100%;
}

.image-container-geoAndDecComp1.gapw15 {
  gap: 0px;
}

/* womanhood comp 16 */
.custom-scrollbar-vertical.w16 {
  display: block;
}

@media (max-width: 991px) {
  /* womanhood 1 */
  .mind-map {
    height: 78vh;
  }

  /* womanhood 7 */
  .container-vertical-futures2.w7 {
    width: 100%;
    height: 78vh;
  }

  .custom-scrollbar-vertical.w7 {
    display: none;
  }
}

@media (max-width: 480px) {
  /* womanhood 1 */
  .mind-map {
    height: 80vh;
  }

  /* womandhood comp 2 */
  .custom-scrollbar.w2 {
    left: 10px;
  }

  .scrollbar-thumb.w2 {
    max-width: 30px;
  }

  .text-container-womanhoodComp2.onew2 {
    padding: 0;
    width: 210%;
  }
  .text-container-womanhoodComp2.twow2 {
    padding: 0;
    width: 322%;
  }
  .text-container-womanhoodComp2.threew2 {
    padding: 0;
    width: 210%;
  }

  /*womanhood comp 3 */
  .custom-scrollbar.w3 {
    left: 10px;
  }

  .scrollbar-thumb.w3 {
    max-width: 21px;
  }

  .gapw3 {
    gap: 20px;
  }

  .image-womanhoodComp3 img {
    max-height: 480px;
  }

  /* womanhood comp 4 */
  .custom-scrollbar.w4 {
    left: 0px;
  }
  
  .scrollbar-thumb.w4 {
    max-width: 45px;
  }
  
  .text-w4-1 {
    width: 98%;
    padding: 0;
    margin-right: 10px;
  }
  
  .text-w4-2 {
    width: 200%;
    padding: 0;
    margin-right: 10px;

  }
  
  .text-w4-3 {
    width: 100%;
    padding: 0;
    margin-right: 10px;
  }

  .image-womanhoodComp4 img {
    max-height: 480px;
  }

  /* womanhood 6 */
  .custom-scrollbar.w6 {
    left: -25px;
  }
  
  .scrollbar-thumb.w6 {
    max-width: 74px;
  }
  
  .womanhood-6 {
    margin: 0;
    padding: 0;
  }
  
  .womanhood-6.twow6 {
    margin-right: 40px;
  }
  
  .womanhood-6.threew6 {
    margin-right: 40px;
  }

  /* womanhood 7 */
  .custom-scrollbar-vertical.w7 {
    display: block;
  }

  .womanhood-7-3 {
    padding: 0px 15px 0px 15px;
  }

  .main-text.w7 {
    text-align: justify;
    text-align-last: center;
    }

  /* womanhood comp 8 */
  .custom-scrollbar.w8 {
    left: -28px;
  }

  .scrollbar-thumb.w8 {
    max-width: 90px;
  }

  .image-container-geoAndDecComp1.w8 {
    gap: 70px;
  }

  /* womanhood comp 9 */
  .custom-scrollbar.w9 {
    left: -28px;
  }

  .scrollbar-thumb.w9 {
    max-width: 96px;
  }

  .image-womanhoodComp9.smallerw9 {
    margin: 0 50px 0 40px;
  }

  /* womanhood comp 10 */
  .custom-scrollbar.w10 {
    left: -25px;
  }
  
  .scrollbar-thumb.w10 {
    max-width: 75px;
  }

  /* womanhood comp 11 */
  .custom-scrollbar.w11 {
    left: -25px;
  }
  
  .scrollbar-thumb.w11 {
    max-width: 70px;
  }
  
  .image-container-geoAndDecComp1.w11 {
    gap: 50px;
  }

  /* womanhood comp 12 */
  .custom-scrollbar.w12 {
    left: -25px;
  }

  .scrollbar-thumb.w12 {
    max-width: 70px;
  }

  .image-womanhoodComp12 {
    margin: 0 0 0 70px;
  }

  .text-container-womanhoodComp12 {
    width: 325%;
    padding: 0px;
  }

  /* womanhood comp 13 */
  .custom-scrollbar.w13 {
    left: 150px;
  }

  .scrollbar-thumb.w13 {
    max-width: 50px;
  }

  .image-womanhoodComp13 {
    width: 40%;
    margin-left: 50px;
  }

  .image-womanhoodComp13.wanker {
    width: 45%;
    margin-left: -30px;
  }

  .image-womanhoodComp13.lastw13 {
    width: 100%;
    margin-left: -200px;
  }

  .image-womanhoodComp13.lastw13 img {
    width: 35%;
    height: 35%;
  }

  .text-container-womanhoodComp13 {
    padding: 0px;
  }

  .text-container-womanhoodComp13.firstw13 {
    width: 145%;
    margin: 0 70px 0 178px;
  }

  .text-container-womanhoodComp13.secondw13 {
    width: 94%;
    padding: 0px;
    margin-left: 0px;
  }

  .text-container-womanhoodComp13.thirdw13 {
    width: 42%;
    margin: 0 60px 0 80px;
  }

  /* womanhood comp 14 */
  .custom-scrollbar.w14 {
    left: 5px;
  }
  
  .scrollbar-thumb.w14 {
    max-width: 24px;
  }

  .text-container-womanhoodComp14 {
    width: 210%;
    padding: 0px;
  }

  .image-womanhoodComp14 {
    margin: 0 20px;
  }

  .image-womanhoodComp14.last-w14 {
    margin: 0 20px;
  }

  /* womanhood comp 15 */
  .custom-scrollbar.w15 {
    left: -22px;
  }

  .scrollbar-thumb.w15 {
    max-width: 75px;
  }

  .image-container-geoAndDecComp1.gapw15 {
    gap: 20px;
  }
}


@media (max-width: 380px) {
  /* womanhood comp 13 */
  .custom-scrollbar.w13 {
    left: 165px;
  }

  .scrollbar-thumb.w13 {
    max-width: 45px;
  }

  .image-womanhoodComp13 {
    width: 40%;
    margin-left: 50px;
  }

  .image-womanhoodComp13.wanker {
    width: 45%;
    margin-left: -30px;
  }

  .image-womanhoodComp13.lastw13 {
    width: 100%;
    margin-left: -200px;
  }

  .image-womanhoodComp13.lastw13 img {
    width: 35%;
    height: 35%;
  }

  .text-container-womanhoodComp13 {
    padding: 0px;
  }

  .text-container-womanhoodComp13.firstw13 {
    width: 145%;
    margin: 0 70px 0 178px;
  }

  .text-container-womanhoodComp13.secondw13 {
    width: 94%;
    padding: 0px;
    margin-left: 0px;
  }

  .text-container-womanhoodComp13.thirdw13 {
    width: 42%;
    margin: 0 60px 0 80px;
  }
}

@media (max-width: 330px) {
  /* womanhood comp 13 */
  .custom-scrollbar.w13 {
    left: 190px;
  }

  .scrollbar-thumb.w13 {
    max-width: 45px;
  }

  .image-womanhoodComp13 {
    width: 40%;
    margin-left: 50px;
  }

  .image-womanhoodComp13.wanker {
    width: 45%;
    margin-left: -30px;
  }

  .image-womanhoodComp13.lastw13 {
    width: 100%;
    margin-left: -200px;
  }

  .image-womanhoodComp13.lastw13 img {
    width: 35%;
    height: 35%;
  }

  .text-container-womanhoodComp13 {
    padding: 0px;
  }

  .text-container-womanhoodComp13.firstw13 {
    width: 145%;
    margin: 0 70px 0 178px;
  }

  .text-container-womanhoodComp13.secondw13 {
    width: 94%;
    padding: 0px;
    margin-left: 0px;
  }

  .text-container-womanhoodComp13.thirdw13 {
    width: 42%;
    margin: 0 60px 0 80px;
  }
}

